---
const benefits = [
    [
      {
        icon: "icon-tabler icon-tabler-circle-check",
        title: "Flexible Remote Work",
        description:
          "Embrace the freedom to work from your preferred location and discover new destinations with your colleagues.",
      },
      {
        icon: "icon-tabler icon-tabler-circle-check",
        title: "Competitive Compensation with Equity",
        description:
          "Join a team that values your contributions and become a part of the fastest-growing fintech company in history.",
      },
      {
        icon: "icon-tabler icon-tabler-circle-check",
        title: "Comprehensive Health Benefits",
        description:
          "Take care of yourself and your loved ones with health, dental, and vision benefits, ensuring your well-being without any concerns.",
      },
    ],
    [
      {
        icon: "icon-tabler icon-tabler-circle-check",
        title: "Generous Parental Leave",
        description:
          "Enjoy precious bonding time with your new arrival with ample paid parental leave.",
      },
      {
        icon: "icon-tabler icon-tabler-circle-check",
        title: "Unlimited Time Off",
        description:
          "Truly take advantage of our commitment to work-life balance, with unlimited paid time off and company holidays.",
      },
      {
        icon: "icon-tabler icon-tabler-circle-check",
        title: "Personalized Workstations",
        description:
          "Create a comfortable and tailored work-from-home setup that suits your needs perfectly.",
      },
    ],
  ];
---

<div
      class="mx-auto mt-96 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-36 items-center lg:py-24 relative w-full">
      <div class="lg:text-center max-w-xl lg:mx-auto">
        <span class="text-blue-400"> Join us</span>
        <h2
          class="text-3xl mt-6 tracking-tight font-light lg:text-4xl text-white">
          Join the movement. <span class="md:block text-zinc-400"
            >We are transforming company scaling</span
          >
        </h2>
      </div>
      <dl class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:space-y-0 mt-12">
        {
          benefits.map((column) => (
            <div class="flex flex-col shadow-inset bg-ebony rounded-3xl p-4 lg:p-10 divide-y divide-white/10">
              {column.map((benefit) => (
                <div class="py-6">
                  <dt class="inline-flex items-center gap-3">
                    <div class="flex items-center justify-center text-white">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class={benefit.icon}
                        width="16"
                        height="16"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M9 12l2 2l4 -4" />
                      </svg>
                    </div>
                    <p class="text-lg font-medium leading-6 text-white">
                      {benefit.title}
                    </p>
                  </dt>
                  <dd class="mt-4 text-sm text-zinc-400">
                    {benefit.description}
                  </dd>
                </div>
              ))}
            </div>
          ))
        }
      </dl>
    </div>