---
import BaseLayout from '@/layouts/BaseLayout.astro';
import SearchBox from '@/components/PromptChallenge/SearchBox';
import HeroImage from '@/components/HeroImage';
import InputSearch from '@/components/InputSearch';
import ArticlesResult from '@/components/ArticlesResult';
import AboutUsIndex from '@/components/AboutUsIndex';
---

<BaseLayout>
	<!-- <section class='lg:p-8 overflow-hidden'>
		<div
			class='mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center lg:py-40 w-full bg-gradientdown rounded-[3rem] overflow-hidden relative'
		>
			<img
				class='sr-only lg:not-sr-only lg:absolute -mt-16 -right-64'
				src='/images/assets/cube.png'
				alt=''
			/>
			<div class='max-w-xl'>
				<div class='mb-8 flex'>
					<span
						class='relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10'
					>
						Welcome to Buio
					</span>
				</div>
				<div class='mt-6'>
					<h1
						class='text-3xl tracking-tight mt-6 font-light lg:text-4xl text-white'
					>
						Buio is a UI KIt
						<span class='block text-zinc-400'> for your next idea.</span>
					</h1>

					<p class='text-white mt-6 text-balance'>
						Transform your data into visually stunning infographics that
						captivate your audience. With a wide range of customizable templates
						and creative elements, you can present your data in a visually
						appealing and impactful way.
					</p>
				</div>
				<InputSearch />
			</div>
		</div>
	</section> -->

	<HeroImage />
	<AboutUsIndex />
	<ArticlesResult client:load />
	<!-- article search page end -->
	<!-- <SearchBox client:load /> -->
</BaseLayout>
