---
import BaseHead from "@/components/Astro/BaseHead.astro";
import Footer from "@/components/Astro/global/Footer.astro";
import AppLoader from "@/components/Astro/AppLoader.astro";
---

<html lang="en" class="selection:text-white no-scrollbar scroll-smooth">
  <head>
    <BaseHead />
  </head>
  <body
    class="bg-black flex flex-col w-full min-h-screen thin-gray-scrollbar scroll-smooth"
  >
    <main class="flex h-auto min-h-168 flex-col w-full grow">
      <slot />

      <AppLoader />
    </main>
    <Footer />

    <script>
      window.addEventListener("reactMounted", () => {
        const loader = document.getElementById("appLoader");

        if (loader) {
          setTimeout(() => {
            loader.remove();
          }, 1500);
        }
      });
    </script>
  </body>
</html>
