---
import BaseHead from "@/components/Astro/BaseHead.astro";
import Navigation from "@/components/Astro/global/Navigation.tsx";
import Footer from "@/components/Astro/global/Footer.astro";
---

  <html
    lang="en"
    class="selection:text-white selection:bg-blue-500 scroll-smooth">
    <head>
      <BaseHead />
    </head>
    <body class="bg-black flex flex-col min-h-screen">
      <Navigation />
      <main class="flex h-auto flex-col w-full grow"><slot /></main>
      <Footer />
    </body>
  </html>
