---
const gridItems = [
  {
    category: "Visual Storytelling",
    title: "Engaging infographics for",
    highlight: "captivating data presentation",
    description:
      "Transform your data into visually stunning infographics that captivate your audience.",
  },
  {
    category: "Advanced Analytics",
    title: "Advanced charting tools for",
    highlight: "in-depth data analysis",
    description:
      "Take your data analysis to the next level with our advanced charting tools.",
  },
];
---

<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-12 lg:px-16 md:px-12 px-8 xl:px-36 items-center relative w-full">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-24 items-start">
      <span class="text-blue-400"> Mobile-Friendly Charts</span>
      <h2 class="text-3xl tracking-tight font-light lg:text-4xl text-white">
        Comparative charts <span class="block text-zinc-400"
          >for complex data.</span
        >
      </h2>
    </div>

    <div class="grid lg:grid-cols-2 gap-24 mt-12">
      {
        gridItems.map((item) => (
          <div class="relative">
            <p class="inline-flex text-xs text-blue-400">{item.category}</p>
            <p class="mt-2 text-2xl text-white">
              {item.title}
              <span class="block text-zinc-400">{item.highlight}</span>
            </p>
            <p class="mt-4 text-base text-white">{item.description}</p>
          </div>
        ))
      }
    </div>

    <div
      class="rounded-b-md lg:px-10 lg:pt-10 mt-12 lg:bg-ebony shadow-inset lg:rounded-3xl hidden lg:block">
      <section>
        <div class="w-full overflow-hidden">
          <img
            alt=""
            src="/images/assets/lightKeyboard.svg"
            class="w-full opacity-50 -mb-24"
          />
        </div>
      </section>
    </div>
  </div>
</section>
