---
const logos = [
  { src: "/images/logos/notion.svg", alt: "Notion Logo" },
  { src: "/images/logos/github.svg", alt: "GitHub Logo" },
  { src: "/images/logos/dribbble.svg", alt: "Dribbble Logo" },
  { src: "/images/logos/adobe.svg", alt: "Adobe Logo" },
  { src: "/images/logos/basecamp.svg", alt: "Basecamp Logo" },
];
---

<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-12 lg:px-16 md:px-12 px-8 xl:px-36 items-center relative w-full">
    <div class="pb-12 border-b border-white/10">
      <span class="text-blue-400"> So much trust</span>
      <h2 class="text-xl mt-6 tracking-tight font-light text-white">
        Trusted by industry leaders and <span class="block text-zinc-400"
          >our families because we pay them</span
        >
      </h2>
    </div>
    <div class="flow-root mt-6">
      <div class="-ml-8 grid grid-cols-5 lg:-ml-4">
        {
          logos.map((logo) => (
            <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
              <img
                src={logo.src}
                alt={logo.alt}
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
