<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center lg:py-40 relative w-full bg-gradientdown rounded-[3rem]">
    <div class="max-w-xl mx-auto">
      <div>
        <span
          class="relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10">
          About us
        </span>
        <h1
          class="text-3xl mt-6 tracking-tight font-light lg:text-6xl text-white">
           Bringing Clarity<span class="block text-zinc-400"
            >to the muddy waters</span>
        </h1>

        <div class="mt-6 text-white space-y-3">
          <p>
          Welcome to elenchus, where we believe true understanding comes from 
          a deliberate exploration of information. Our goal is to make the process 
          of learning about a topic whether it be familar or novel, a structured and 
          insightful  process.              
            
          </p>
          <p>
            Think of a time where you found yourself provoked by something 
            you saw online. It might be a take you saw on social media, 
            a post in a comments section, or even a statement you heard in passing.
            All of these instances can be inflammatory, particularly when you don't know
            a rebuttal off the top of your head. 

            <p>
              Picture this: Imagine a world where scatter plots dance, bar
              graphs come to life, and pie charts burst with vibrant colors.
              Buio brings your data to life like never before, making it easier
              than ever to communicate complex concepts and insights with
              crystal clarity.
            </p>
            <p>
              But Buio is more than just a pretty face. Beneath its visually
              stunning exterior lies a robust set of features designed to
              streamline your workflow and enhance your productivity. Seamlessly
              import data from various sources, customize chart styles and
              layouts with a few clicks, and effortlessly share your creations
              with colleagues and clients.
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
