---
const { page, url } = Astro.props;
---

<div
  >
  <div class="py-8 grid gap-4 grid-cols-2 mx-auto justify-between items-center">
    <div>
      <p class="font-semibold leading-6 text-white">{page}</p>
    </div>
    <div class="ml-auto">
      <div class="flex items-start flex-col text-xs leading-6 text-zinc-400">
        <a
          href={url}
  title={page}
          class="bg-white/5 hover:bg-white/10 focus:bg-transparent rounded-2xl inline-flex items-center text-center text-white p-4 ring-1 ring-white/10 w-12 h-12">
          &rarr;</a
        >
      </div>
    </div>
  </div>
</div>
