@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1,
    /* Contextual Alternates */
    "dlig" 1,
    /* Discretionary Ligatures */
    "ss07" 1,
    /* fSquare punctuation */
    "ss08" 1,
    /* Square quotes */
    "zero" 1,
    /* Slashed zero */
    "tnum" 1,
    /* Tabular numbers */
    "cv03" 1,
    /* Open six */
    "cv04" 1,
    /* Open nine */
    "cv01" 1,
    /* Alternate one */
    "cv09",
    /* Flat-top three */
    "cv02" 1;
  /* Open 4 */
}

@supports (font-variation-settings: normal) {

  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}

.prose-styles {
  @apply focus:outline-none prose text-zinc-500 prose-a:font-semibold prose-a:text-blue-300 hover:prose-a:text-black prose-headings:text-black prose-blockquote:text-blue-400 prose-code:text-blue-400 prose-strong:text-blue-500 prose-img:rounded-3xl prose-pre:rounded-2xl prose-headings:font-normal;
}

:root {
  --astro-code-color-text: #4c4d58;
  --astro-code-color-background: #fafafa;
  --astro-code-token-constant: #1769ff;
  --astro-code-token-string: #4c4d58;
  --astro-code-token-comment: #1aa9da;
  --astro-code-token-keyword: #8b9fe8;
  --astro-code-token-parameter: #99bdff;
  --astro-code-token-function: #1aa9da;
  --astro-code-token-string-expression: #1769ff;
  --astro-code-token-punctuation: #4c4d58;
  --astro-code-token-link: #ffffff;
}