<section class="lg:p-8 overflow-hidden bg-white">
  <div class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-36">
    <div class="w-full max-w-md md:max-w-sm mx-auto">
      <div class="flex flex-col">
        <div class="border-b pb-12">
          <p class="text-3xl tracking-tight font-light lg:text-4xl text-black">
            Submit
          </p>
          <p class="mt-2 text-sm text-zinc-400">Submit your details</p>
        </div>
      </div>
      <form class="mt-12">
        <div class="mt-4 space-y-6">
          <div>
            <label
              for="first_name"
              class="block mb-3 text-sm font-medium text-black">
              First name
            </label>
            <input
              id="first_name"
              name="first_name"
              type="text"
              placeholder="Your name"
              autocomplete="given-name"
              class="block w-full px-3 py-3 border-2 border-zinc-100 rounded-xl appearance-none text-black placeholder-black/50 bg-white/5 focus:border-black focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500 h-10"
              required
            />
          </div>
          <div class="col-span-full">
            <label
              for="company_name"
              class="block mb-3 text-sm font-medium text-black">
              What is the name of your company / organisation?
            </label>
            <input
              id="company_name"
              name="company_name"
              type="text"
              placeholder="Company name"
              class="block w-full px-3 py-3 border-2 border-zinc-100 rounded-xl appearance-none text-black placeholder-black/50 bg-white/5 focus:border-black focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500 h-10"
              required
            />
          </div>
          <div class="col-span-full">
            <label
              for="contact_email"
              class="block mb-3 text-sm font-medium text-black">
              How shall we contact you?
            </label>
            <input
              id="contact_email"
              name="contact_email"
              type="email"
              autocomplete="email"
              placeholder="email@example.com"
              class="block w-full px-3 py-3 border-2 border-zinc-100 rounded-xl appearance-none text-black placeholder-black/50 bg-white/5 focus:border-black focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500 h-10"
              required
            />
          </div>
          <div>
            <label
              for="project_details"
              class="block mb-3 text-sm font-medium text-black">
              Project details
            </label>
            <textarea
              id="project_details"
              name="project_details"
              rows="4"
              placeholder="What are you working on?"
              class="block w-full px-3 py-3 border-2 border-zinc-100 rounded-xl appearance-none text-black placeholder-black/50 bg-white/5 focus:border-black focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
              required
            ></textarea>
          </div>
          <div class="col-span-full">
            <button
              type="submit"
              class="text-sm py-2 px-4 border focus:ring-2 h-10 rounded-full border-zinc-100 bg-black hover:bg-black/10 text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-black w-full inline-flex items-center justify-center ring-1 ring-transparent"
              >Submit</button
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
